{
    "extends": "./node_modules/skripts/.eslintrc",
    "rules": {
      "@typescript-eslint/ban-types": ["off"],
      "@typescript-eslint/no-this-alias": ["off"],
      "@typescript-eslint/ban-ts-comment": ["off"]
    }
  }